:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}


body {
  background-color: rgb(190, 114, 206);
  margin: 0;
  justify-content: center;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  color: aliceblue;
  font-size: 3.2em;
  line-height: 1.1;
}
